body {

  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #333;
  margin: 0;
  padding: 0;
}
h1,h2,h3 {
  margin: 1rem;

}
 .hero{
  text-align: center;
  padding: 4rem;
  background: #f0f0f0;
 }
 #about {
  max-width: 800px;
  margin: 2rem auto;
  text-align: center;

 }
 .profile-pic {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
 }
@media (max-width: 600px) {
  body {
    font-size: 14px;
  }
}
nav {
     background-color: black;
     padding: 20px;
     font-size: 20px;
}
nav a{
  color: whitesmoke;
  padding: 10px 25px;
  text-decoration: none;
}
nav a:hover{
  background-color: lightgray;
  color: black;
}
.project-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  padding: 1rem;
  gap: 2rem;
}
.card {
  border: 1px solid #ccc;
  padding: 1rem;
  text-align: center;
  transition: box-shadow 0.2s ease;
}
.card:hover{
  box-shadow: 0 0 10px rgba(0,0,0,0.1)
}
